body {
	padding-bottom: 20px;
}

.navbar {
	margin-bottom: 20px;
}

label {
	font-weight: 700;
}





#screenshot{
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	padding:5px;
	/* display:none; */
	color:#fff;
}