/* Custom vars */

/* $body-bg: #000;
$body-color: #111; */
$fa-font-path: "../fonts";

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";
@import "node_modules/jquery-ui-dist/jquery-ui.min";


/* Расширенный поиск */
#extended-search-header {
	cursor: pointer;
	text-decoration: underline;
}



.pagination {
   justify-content: center;
}

body {
	padding-bottom: 20px;
}

.navbar {
	margin-bottom: 20px;
}

label {
	font-weight: 400;
	font-size: 0.9rem;
	margin-bottom: 0.2rem;
}

/* Вывод изображения карты при наведении на название-ссылку карты. */
.popover {
	max-width: 300px;
}
.popover-body {
	padding: 0.2rem;
}

/* Карточки колод. */
.archetype {
	margin-left: -0.5rem;
	margin-right: -0.5rem;
}

/* Таблица с картами. */
/* .table-xs {
	th, td {
		padding: 0.3rem;
	}
} */